<div id="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>We are coming soon</h1>
				<h2 class="subtitle">
					Under development for orders <br> please call us <b>724-206-0807</b>
				</h2>
				<div id="countdown"></div>
<!-- 				<form class="form-inline signup" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-theme">Get notified!</button>
				</form>	 -->	
<!--                 <div class="social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                     <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                     <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div> -->
			</div>
			
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
					<!-- <p class="copyright">&copy; WeBuild - All Rights Reserved</p> -->
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=WeBuild
                        -->
                        <!-- <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
                    </div>
			</div>
		</div>		
	</div>
</div>