<div class="">
  <a class="hiddenanchor" id="tologin"></a>

  <div id="wrapper">
    <div id="login" class="animate form">
      <section class="login_content">

        <h1>Admin Panel</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'%>
          </div>

          <div>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'%>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div>
            <%= f.submit "Log in", class: 'btn btn-default submit'%>
          </div>
        <% end %>

          <div class="clearfix"></div>
          <div class="separator">
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> 7urkm3n!</h1>
              <p>©<%= Time.now.year %> All Rights Reserved.</p>
            </div>
          </div>

      </section>
      <!-- content -->
    </div>
  </div>
</div>