/**
 *
 * All styling for the theme documentation page.
 * ----------------------------------------------------------------------------
 *
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { 
	line-height: 1;
	-webkit-text-size-adjust: none;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 *
 * Base Styles
 * ----------------------------------------------------------------------------
 *
 */
body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	color: #6a6a6a;
	background: #fff;
}
p {	margin-bottom: 30px; }
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: 20px;
	color: #000;
}
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
a {
	text-decoration: none;
	color: #0074a2;
}
a:hover { text-decoration: underline; }
strong { 
	font-weight: 400;
	color: #000; 
}
em { font-style: italic; }
#main img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 30px;
	padding: 10px;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 5px 5px 0px rgba(0,0,0,0.08);
	   -moz-box-shadow: 5px 5px 0px rgba(0,0,0,0.08);
	        box-shadow: 5px 5px 0px rgba(0,0,0,0.08);
}
hr {
	border: 0;
	border-bottom: 1px dotted #e5e5e5;
	height: 50px;
	margin-bottom: 80px;
}
ol, ul {
	padding-left: 35px;
	margin-bottom: 30px;
}
ol ol,
ul ul,
ol ul,
ul ol {	margin: 0; }
ul { list-style: disc; }
ol { list-style: decimal-leading-zero; }
abbr, acronym {
	border-bottom: 1px dotted #aeaeae;
	cursor: help;
}
pre, code {
	font-family: "Courier New", Courier, monospace;
	background: #f6f6f6;
}
pre {
	font-size: 14px;
	color: #252525;
	padding: 30px;
	margin-bottom: 30px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
header {
	max-width: 960px;
	min-width: 420px;
	margin: 0 auto;
	text-align: center;
}
header h1 {
	font-size: 80px;
	font-weight: 700;
	letter-spacing: -0.8px;
	color: #252525
}
header h2 {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 60px;
	color: #656565;
}
#logo {
	text-align: center;
	background: #454545;
	padding: 25px 0;
	margin-bottom: 120px;
}
#logo a img { height: 32px; }
.container {
	max-width: 960px;
	min-width: 420px;
	margin: 0 auto;
	padding-bottom: 30px;
}
#theme-meta {
	width: 930px;
	background: #f6f6f6;
	margin-bottom: 60px;
	padding: 15px;
	-webkit-box-shadow: inset 0px 1px 1px #e9e9e9;
	   -moz-box-shadow: inset 0px 1px 1px #e9e9e9;
	        box-shadow: inset 0px 1px 1px #e9e9e9;
}
#theme-meta span { 
	width: 33.3333%; 
	font-size: 14px;
	display: block;
	background: #fff;
	padding: 15px 0;
	float: left;
	-webkit-box-shadow: 0px 1px 1px #e9e9e9;
	   -moz-box-shadow: 0px 1px 1px #e9e9e9;
	        box-shadow: 0px 1px 1px #e9e9e9;
}
#theme-meta:after {
	content: "";
	clear: both;
	display: block;
}
#theme-intro {
	text-align: left;
	padding: 30px;
	margin-bottom: 30px;
	background: #0074a2;
}
#theme-intro i {
	float: left;
	margin: 18px 0 0 16px;
}
#theme-intro i:before {
	font-size: 60px;
	color: #fff;
}
#theme-intro p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #fff;
	margin: 0 0 0 120px;
}
#theme-intro p strong {
	color: #fff;
	font-weight: 700;
}
#theme-intro p a {
	color: #fff;
	text-decoration: underline;
}
#theme-intro p a:hover { text-decoration: none; }
#toc { 
	text-align: left;
	margin-bottom: 60px;
}
.section-title {
	background: #f5f5f5;
	padding: 50px 0;
	margin-bottom: 60px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-shadow: inset 0px 1px 0px #fff;
	   -moz-box-shadow: inset 0px 1px 0px #fff;
	        box-shadow: inset 0px 1px 0px #fff;
}
.section-title:after {
	content: "";
	display: block;
	clear: both;
}
.section-title h1 {	
	font-size: 1.8em;
	float: left; 
	color: #000;
	margin: 0;
}
.section-title a {
	font-size: 12px;
	line-height: 22px;
	color: #fff;
	float: right;
	background: #0074a2;
	padding: 6px 12px;
	border: 1px solid #053d53;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25);
	   -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25);
	        box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.section-title a:hover {
	opacity: 0.90;
	text-decoration: none;
}
.section-title a i { margin-right: 10px; }
footer {
	padding: 60px 0 40px 0;
	background: #0074a2;
}
footer a { color: #fff; }
footer p {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #fff;
}
footer cite {
	color: #fff;
	font-weight: 700; 
}