<div class="site-content grid-container">

	<!-- START Main Content -->
	<main role="main">
	
		<!-- LEFT SIDE -->
		<div class="grid-45 suffix-5 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">
			<div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<% @categories.first(@left).each do |c| %>
					<h2 class="hungry-menu-title header-divider"><%= c.title %></h2>
					<% c.products.each do |p| %>
						<ol class="hungry-menu-list">
							<!-- START Menu Item -->
							<li class="hungry-menu-item <%= "special" if p.special %>">
								<div class="hungry-menu-item-container">
									<a href="template-recipe-single.html" class="hungry-menu-item-header">
										<h3 class="hungry-menu-item-title"><%= p.title %></h3>
										<h4 class="hungry-menu-item-price special-tooltip" <%= 'title = Special' if p.special %> > $<%= p.price %> </h4>
									</a>
									<div class="hungry-menu-item-excerpt">
										<p> <%= p.desc %> </p>
									</div>
								</div>
							</li>
							<!-- END Menu Item -->
						</ol>
					<% end %>
				<% end %>
			</div>
		</div>
		
		<!-- RIGHT -->
		<div class="prefix-5 grid-45 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">
			<div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<% @categories.last(@right).each do |c| %>
					<h2 class="hungry-menu-title header-divider"><%= c.title %></h2>
						<% c.products.limit(5).each do |p| %>
							<ol class="hungry-menu-list">
								<!-- START Menu Item -->
								<li class="hungry-menu-item <%= "special" if p.special %>">
									<div class="hungry-menu-item-container">
										<a href="template-recipe-single.html" class="hungry-menu-item-header">
											<h3 class="hungry-menu-item-title"><%= p.title %></h3>
											<h4 class="hungry-menu-item-price special-tooltip" <%= 'title = Special' if p.special %> > $<%= p.price %> </h4>
										</a>
										<div class="hungry-menu-item-excerpt">
											<p> <%= p.desc %> </p>
										</div>
									</div>
								</li>
								<!-- END Menu Item -->
							</ol>
						<% end %>
				<% end %>
			</div>
		</div>
		

		<!-- START Menu Divider -->
		<div class="grid-100 tablet-grid-100 mobile-grid-100">
			<div class="hungry-menu wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
				<div class="hungry-menu-divider"></div>
			</div>
		</div>
		<!-- END Menu Divider -->
		
	<% blockk do %>
		<!-- LEFT SIDE -->
		<div class="grid-45 suffix-5 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">
			<div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<% @categories.first(@left).each do |c| %>
					<% c.next if c == 'pizza' %>
					<h2 class="hungry-menu-title header-divider"><%= c.title %></h2>
					<% c.products.each do |p| %>
						<ol class="hungry-menu-list">
							<!-- START Menu Item -->
							<li class="hungry-menu-item <%= "special" if p.special %>">
								<div class="hungry-menu-item-container">
									<a href="template-recipe-single.html" class="hungry-menu-item-header">
										<h3 class="hungry-menu-item-title"><%= p.title %></h3>
										<h4 class="hungry-menu-item-price special-tooltip" <%= 'title = Special' if p.special %> > $<%= p.price %> </h4>
									</a>
									<div class="hungry-menu-item-excerpt">
										<p> <%= p.desc %> </p>
									</div>
								</div>
							</li>
							<!-- END Menu Item -->
						</ol>
					<% end %>
				<% end %>
			</div>
		</div>
		
		<!-- RIGHT -->
		<div class="prefix-5 grid-45 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">
			<div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<% @categories.last(@right).each do |c| %>
					<h2 class="hungry-menu-title header-divider"><%= c.title %></h2>
						<% c.products.limit(5).each do |p| %>
							<ol class="hungry-menu-list">
								<!-- START Menu Item -->
								<li class="hungry-menu-item <%= "special" if p.special %>">
									<div class="hungry-menu-item-container">
										<a href="template-recipe-single.html" class="hungry-menu-item-header">
											<h3 class="hungry-menu-item-title"><%= p.title %></h3>
											<h4 class="hungry-menu-item-price special-tooltip" <%= 'title = Special' if p.special %> > $<%= p.price %> </h4>
										</a>
										<div class="hungry-menu-item-excerpt">
											<p> <%= p.desc %> </p>
										</div>
									</div>
								</li>
								<!-- END Menu Item -->
							</ol>
						<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	
	</main>
	<!-- END Main Content -->
</div>