<!-- START Site Footer -->
<footer id="site-footer">

	<!-- START Widget Area -->
	<div class="widget-area grid-container">
	
		<!-- START Widget Column 01 -->
		<div class="widget-column widget-column-01 grid-33 tablet-grid-33 mobile-grid-100">
			
			<!-- Contact Details Widget -->
			<aside class="widget widget-hungry-contact-details">
				<h3 class="widget-title">Contact Us</h3>
				<div class="contact-details">
					<p>
						Pizza Three Guys is a full-service Pizzeria located in the Washington, PA. Since opening our doors in 1992, we have provided local families and businesses with delicious, high quality food at affordable prices. All of our rolls and pizzadoughs are baked fresh daily. We use only fresh vegetables that are delivered to all of our locations daily.
					</p>
					<div class="contact-phone">
						<i class="fa fa-phone-square"></i>
						<a class="phone-number-link" href="tel:+00678987658">724-206-0807</a>
					</div>
					<div class="contact-email">
						<i class="fa fa-envelope-square"></i>
						<a class="email-link" href="mailto:bookings@hungrytheme.net">contact@pizzathreeguys.com</a>
					</div>
					<div class="contact-address">
						<i class="fa fa-caret-square-o-down"></i>
						<address>
							374 S Main St, <br />
							Washington, PA 15301
						</address>
					</div>
				</div>
			</aside>

		</div>
		<!-- END Widget Column 01 -->
		
		<!-- START Widget Column 02 -->
		<div class="widget-column widget-column-02 grid-33 tablet-grid-33 mobile-grid-100">
			
			<!-- Latest Recipes Widget -->
			<aside class="widget widget-hungry-latest-recipes">
				<h3 class="widget-title">New on the Menu</h3>
				<ul class="latest-recipes">
					<li class="recipe">
						<a href="template-recipe-single.html"><img class="recipe-thumbnail" src="/assets/demo/widget-recipe-thumbnails/thumbnail-01.jpg" alt="Recipe Thumbnail Image" /></a>
						<h6 class="recipe-title"><a href="template-recipe-single.html">Angus Steak Burger</a></h6>
						<p class="recipe-description">Aenean commodo ligula eget.</p>
					</li>
					<li class="recipe">
						<a href="template-recipe-single.html"><img class="recipe-thumbnail" src="/assets/demo/widget-recipe-thumbnails/thumbnail-02.jpg" alt="Recipe Thumbnail Image" /></a>
						<h6 class="recipe-title"><a href="template-recipe-single.html">Mexican Chicken Fajitas</a></h6>
						<p class="recipe-description">Aenean commodo ligula eget.</p>
					</li>
					<li class="recipe">
						<a href="template-recipe-single.html"><img class="recipe-thumbnail" src="/assets/demo/widget-recipe-thumbnails/thumbnail-03.jpg" alt="Recipe Thumbnail Image" /></a>
						<h6 class="recipe-title"><a href="template-recipe-single.html">Chocolate Fudge Cake</a></h6>
						<p class="recipe-description">Aenean commodo ligula eget.</p>
					</li>
				</ul>
			</aside>
			
		</div>
		<!-- END Widget Column 02 -->
		
		<!-- START Widget Column 03 -->
		<div class="widget-column widget-column-03 grid-33 tablet-grid-33 mobile-grid-100">
			
			<!-- Opening Times Widget -->
			<aside class="widget widget-hungry-opening-times">
				<h3 class="widget-title">Opening Times</h3>
				<ul class="opening-times">
					<li>Monday<span>10am - 11pm</span></li>
					<li>Tuesday<span>10am - 11pm</span></li>
					<li>Wednesday<span>10am - 11pm</span></li>
					<!-- <li>Wednesday<span class="closed">Closed</span></li> -->
					<li>Thursday<span>10am - 11pm</span></li>
					<li>Friday<span>10am - Midnight</span></li>
					<li>Saturday<span>10am - Midnight</span></li>
					<li>Sunday<span>10am - 11pm</span></li>
				</ul>
			</aside>
			
		</div>
		<!-- END Widget Column 03 -->
	
	</div>
	<!-- END Widget Area -->
	
</footer>
<!-- END Site Footer -->