<div id="bottom-footer">
	<div class="grid-container">
	
		<!-- Footer Logo -->
		<div class="footer-logo grid-50 tablet-grid-100 mobile-grid-100">
			<a href="#"><img class="footer-logo-image" src="/assets/assets/footer-logo.png" alt="Footer Logo" /></a>
		</div>
	
		<!-- Footer Text -->
		<div class="footer-text grid-50 tablet-grid-100 mobile-grid-100">
			<p>Designed by <a href="http://themeforest.net/user/SubatomicThemes" target="_blank">Subatomic Themes</a> for <a href="http://themeforest.net" target="_blank">Themeforest</a>. All Rights Reserved.</p>
		</div>
	
	</div>
</div>