<!-- START HEAD -->
<!-- START Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<meta name=”robots” content=”index”>
<meta name=”robots” content=”follow”>
<!-- END Meta -->

<title> Pizza Three Guys </title>
<meta name='description' content='Best food, Pizza in Washington, Pa'>

<!-- Google Fonts:
	 Ubuntu          - http://www.google.com/fonts/specimen/Ubuntu
	 Droid Serif     - http://www.google.com/fonts/specimen/Droid+Serif 
	 Aguafina Script - http://www.google.com/fonts/specimen/Aguafina+Script -->
<link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700%7CDroid+Serif:400,400italic,700,700italic%7CAguafina+Script" rel="stylesheet" type="text/css">

<!-- START Stylesheets -->
<link rel="stylesheet" href="/assets/client/formalize.css" media="all">
<link rel="stylesheet" href="/assets/client/unsemantic-grid.css" media="all">
<link rel="stylesheet" href="/assets/client/font-awesome.min.css" media="all">
<link rel="stylesheet" href="/assets/client/animate.mod.min.css" media="all">
<link rel="stylesheet" href="/assets/client/tooltipster.css" media="all">
<link rel="stylesheet" href="/assets/client/jquery-ui.min.css" media="all">
<link rel="stylesheet" href="/assets/client/style.css" media="all">
<!-- END Stylesheets -->

<!-- START Javascripts -->
<script type="text/javascript" src="/assets/client/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/client/jquery-ui.min.js"></script>
<!-- END Javascripts -->


<%= csrf_meta_tags %>
<%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- END HEAD -->