<!-- "Back-to-Top" Button -->
<div id="btt">
	<i class="fa fa-angle-up"></i>
</div>

<!-- START Javascripts -->
<script type="text/javascript" src="/assets/client/jquery-main.js"></script>
<script type="text/javascript" src="/assets/client/jquery-custom.js"></script>
<!-- END Javascripts -->
