<!-- START Section - About Us -->
<section id="hungry-about-us" class="section-container">
	
	<!-- START Section Heading -->
	<div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
		<header class="section-heading">
			<h2 class="section-heading-title">About Us</h2>
			<div class="section-heading-subtitle-container tilt-left">
				<h4 class="section-heading-subtitle">Whats our Story?</h4>
			</div>
		</header>
	</div>
	<!-- END Section Heading -->
	
	<div class="grid-container">
	
		<!-- START Section Images -->
		<div class="grid-50 tablet-grid-100 mobile-grid-100">
			<div class="wow rotateIn" data-wow-duration="2s" data-wow-offset="250">
				<div class="about-images">
					<img class="about-main" src="/assets/demo/about/map2.jpg" alt="About Main Image" />
					<img class="about-inset" src="/assets/demo/about/logo180.jpg" alt="About Inset Image" />
				</div>
			</div>
		</div>
		<!-- END Section Images -->
		
		<!-- START Section Content -->
		<div class="grid-50 tablet-prefix-10 tablet-grid-80 tablet-suffix-10 mobile-grid-100 tablet-center mobile-center">
			<div class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="250">
				<h4 class="header-divider">It Started, Quite Simply, Like This...</h4>
				<p><strong>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
				sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
				quaerat voluptatem.</strong></p>
				<p>Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient
				montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
				Nulla consequat massa quis enim. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
				Etiam sit amet orci eget eros faucibus tincidunt.</p>
				<a class="hungry-button" href="#">Learn More</a>
				<a class="hungry-button dark" href="#hungry-menu">See the Menu!</a>
			</div>
		</div>
		<!-- END Section Content -->
		
	</div>
	
</section>
<!-- END Section - About Us -->