<!-- START Section - Blog -->
<section id="hungry-blog" class="section-container parallax">

	<!-- START Section Heading -->
	<div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
		<header class="section-heading">
			<h2 class="section-heading-title">Our Blog</h2>
			<div class="section-heading-subtitle-container tilt-left">
				<h4 class="section-heading-subtitle">Stay up to Date!</h4>
			</div>
		</header>
	</div>
	<!-- END Section Heading -->
		
	<div class="grid-container">
		<div class="hungry-blog-container">
			
			<!-- START Blog Post Block -->
			<div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
				<div class="grid-50 tablet-grid-50 mobile-grid-100">
					<div class="hungry-blog-block">
						<div class="hungry-blog-arrow"></div>
						<div class="hungry-blog-featured-image">
							<a class="image-hover" href="template-blog-single-right-sidebar.html">
								<img src="/assets/demo/blog-home/featured-image-01.jpg" alt="Featured Image Thumbnail" />
								<div class="image-hover-overlay">
									<i class="fa fa-link"></i>
								</div>
							</a>
						</div>
						<div class="hungry-blog-meta">
							<span class="hungry-blog-date">
								<time datetime="2014-11-25">25 November, 2014</time>
							</span>
							<h3 class="hungry-blog-title">
								<a href="template-blog-single-right-sidebar.html">Latest Recipes Just In!</a>
							</h3>
							<span class="hungry-blog-author">by <a href="template-blog-single-right-sidebar.html">John Doggett</a></span>
						</div>
					</div>
				</div>
			</div>
			<!-- END Blog Post Block -->
			
			<!-- START Blog Post Block -->
			<div class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="250">
				<div class="grid-50 tablet-grid-50 mobile-grid-100">
					<div class="hungry-blog-block">
						<div class="hungry-blog-arrow"></div>
						<div class="hungry-blog-featured-image">
							<a class="image-hover" href="template-blog-single-right-sidebar.html">
								<img src="/assets/demo/blog-home/featured-image-02.jpg" alt="Featured Image Thumbnail" />
								<div class="image-hover-overlay">
									<i class="fa fa-link"></i>
								</div>
							</a>
						</div>
						<div class="hungry-blog-meta">
							<span class="hungry-blog-date">
								<time datetime="2014-11-12">12 November, 2014</time>
							</span>
							<h3 class="hungry-blog-title">
								<a href="template-blog-single-right-sidebar.html">New Recruits Have Arrived!</a>
							</h3>
							<span class="hungry-blog-author">by <a href="template-blog-single-right-sidebar.html">Derwood Spinks</a></span>
						</div>
					</div>
				</div>
			</div>
			<!-- END Blog Post Block -->
			
			<br class="clear" />
			
			<!-- START Blog Post Block -->
			<div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
				<div class="grid-50 tablet-grid-50 mobile-grid-100">
					<div class="hungry-blog-block swap">
						<div class="hungry-blog-arrow"></div>
						<div class="hungry-blog-featured-image">
							<a class="image-hover" href="template-blog-single-right-sidebar.html">
								<img src="/assets/demo/blog-home/featured-image-03.jpg" alt="Featured Image Thumbnail" />
								<div class="image-hover-overlay">
									<i class="fa fa-link"></i>
								</div>
							</a>
						</div>
						<div class="hungry-blog-meta">
							<span class="hungry-blog-date">
								<time datetime="2014-10-31">31 October, 2014</time>
							</span>
							<h3 class="hungry-blog-title">
								<a href="template-blog-single-right-sidebar.html">Baking Tips from the Pros</a>
							</h3>
							<span class="hungry-blog-author">by <a href="template-blog-single-right-sidebar.html">Jamie Ramsay</a></span>
						</div>
					</div>
				</div>
			</div>
			<!-- END Blog Post Block -->
			
			<!-- START Blog Post Block -->
			<div class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="250">
				<div class="grid-50 tablet-grid-50 mobile-grid-100">
					<div class="hungry-blog-block swap">
						<div class="hungry-blog-arrow"></div>
						<div class="hungry-blog-featured-image">
							<a class="image-hover" href="template-blog-single-right-sidebar.html">
								<img src="/assets/demo/blog-home/featured-image-04.jpg" alt="Featured Image Thumbnail" />
								<div class="image-hover-overlay">
									<i class="fa fa-link"></i>
								</div>
							</a>
						</div>
						<div class="hungry-blog-meta">
							<span class="hungry-blog-date">
								<time datetime="2014-10-20">20 October, 2014</time>
							</span>
							<h3 class="hungry-blog-title">
								<a href="template-blog-single-right-sidebar.html">All your Eggs belong to us</a>
							</h3>
							<span class="hungry-blog-author">by <a href="template-blog-single-right-sidebar.html">Gordon Oliver</a></span>
						</div>
					</div>
				</div>
			</div>
			<!-- END Blog Post Block -->
	
			<br class="clear" />
		</div>
		
		<!-- "View Blog" Button -->
		<div class="wow fadeInUp" data-wow-duration="2s" data-wow-offset="250">
			<div class="grid-100 tablet-grid-100 mobile-grid-100 aligncenter">
				<a class="hungry-button dark aligncenter" href="template-blog-overview.html">View the Blog</a>
			</div>
		</div>
	
	</div>
	
</section>
<!-- END Section - Blog -->