<section id="hungry-coupons" class="section-container">

	<!-- START Section Heading -->
	<div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
		<header class="section-heading">
			<h2 class="section-heading-title">The Coupons</h2>
			<div class="section-heading-subtitle-container tilt-left">
				<h4 class="section-heading-subtitle">Choose best of you want!</h4>
			</div>
		</header>
	</div>
	<!-- END Section Heading -->

	<!-- START Main Gallery -->
	<div class="grid-container">
		<div class="grid-100 tablet-grid-100 mobile-grid-100">
			<div class="hungry-gallery">

			<% @coupons.each do |c| %>
				<div class="hungry-gallery-item wow">
					<a><h4 style='color: #ccad52'> <%= c.title %> </h4></a>
					<p><%= truncate(c.desc, length: 200) %></p>
					<h4 style='color: #787878'> $<%= c.price %></span></h4>
				</div>
			<% end %>
				
			</div>
		</div>
	</div>
	<!-- END Main Gallery -->
	
</section>