<!-- START Section - Gallery -->
<section id="hungry-gallery" class="section-container">

	<!-- START Section Heading -->
	<div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
		<header class="section-heading">
			<h2 class="section-heading-title">The Gallery</h2>
			<div class="section-heading-subtitle-container tilt-left">
				<h4 class="section-heading-subtitle">Take a Look Inside!</h4>
			</div>
		</header>
	</div>
	<!-- END Section Heading -->

	<!-- START Main Gallery -->
	<div class="grid-container">
		<div class="grid-100 tablet-grid-100 mobile-grid-100">
			<div class="hungry-gallery">
			
				<div class="hungry-gallery-item wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-01.jpg">
						<img src="/assets/demo/gallery/gallery-01.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-02.jpg">
						<img src="/assets/demo/gallery/gallery-02.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-03.jpg">
						<img src="/assets/demo/gallery/gallery-03.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover tall lightbox-gallery" href="/assets/demo/gallery/gallery-06.jpg">
						<img src="/assets/demo/gallery/gallery-06.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wide wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover wide lightbox-gallery" href="/assets/demo/gallery/gallery-05.jpg">
						<img src="/assets/demo/gallery/gallery-05.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-04.jpg">
						<img src="/assets/demo/gallery/gallery-04.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wide wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-07.jpg">
						<img src="/assets/demo/gallery/gallery-07.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-08.jpg">
						<img src="/assets/demo/gallery/gallery-08.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-09.jpg">
						<img src="/assets/demo/gallery/gallery-09.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
				<div class="hungry-gallery-item wide wow fadeIn" data-wow-duration="2s" data-wow-offset="250">
					<a class="image-hover lightbox-gallery" href="/assets/demo/gallery/gallery-10.jpg">
						<img src="/assets/demo/gallery/gallery-10.jpg" alt="Gallery Image" />
						<div class="image-hover-overlay">
							<i class="fa fa-search-plus"></i>
						</div>
					</a>
				</div>
				
			</div>
		</div>
	</div>
	<!-- END Main Gallery -->
	
</section>
<!-- END Section - Gallery -->