<section id="hungry-menu" class="section-container">

	<!-- START Section Heading -->
	<div class="wow fadeInDown" data-wow-duration="0s" data-wow-offset="250">
		<header class="section-heading">
			<h2 class="section-heading-title">Our Special Menu</h2>
			<div class="section-heading-subtitle-container tilt-left">
				<!-- <h4 class="section-heading-subtitle">Feeling Peckish?</h4> -->
			</div>
		</header>
	</div>
	<!-- END Section Heading -->

	<div class="grid-container">

		<!-- LEFT SIDE -->
		<div class="grid-45 suffix-5 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">
			<div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<% categories.first(@left).each do |c| %>
					<h2 class="hungry-menu-title header-divider"><%= c.title %></h2>
					<% c.products.each do |p| %>
						<ol class="hungry-menu-list">
							<!-- START Menu Item -->
							<li class="hungry-menu-item <%= "special" if p.special %>">
								<div class="hungry-menu-item-container">
									<a href="template-recipe-single.html" class="hungry-menu-item-header">
										<h3 class="hungry-menu-item-title"><%= p.title %></h3>
										<h4 class="hungry-menu-item-price special-tooltip" <%= 'title = Special' if p.special %> > $<%= p.price %> </h4>
									</a>
									<div class="hungry-menu-item-excerpt">
										<p> <%= p.desc %> </p>
									</div>
								</div>
							</li>
							<!-- END Menu Item -->
						</ol>
					<% end %>
				<% end %>
			</div>
		</div>
		

		<!-- RIGHT -->
		<div class="prefix-5 grid-45 tablet-prefix-5 tablet-grid-90 tablet-suffix-5 mobile-grid-100">
			<div class="hungry-menu wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<% categories.last(@right).each do |c| %>
					<h2 class="hungry-menu-title header-divider"><%= c.title %></h2>
						<% c.products.each do |p| %>
							<ol class="hungry-menu-list">
								<!-- START Menu Item -->
								<li class="hungry-menu-item <%= "special" if p.special %>">
									<div class="hungry-menu-item-container">
										<a href="template-recipe-single.html" class="hungry-menu-item-header">
											<h3 class="hungry-menu-item-title"><%= p.title %></h3>
											<h4 class="hungry-menu-item-price special-tooltip" <%= 'title = Special' if p.special %> > $<%= p.price %> </h4>
										</a>
										<div class="hungry-menu-item-excerpt">
											<p> <%= p.desc %> </p>
										</div>
									</div>
								</li>
								<!-- END Menu Item -->
							</ol>
						<% end %>
				<% end %>
			</div>
		</div>
		
		<%= link_to "#" do  %>
			<button> All Menu </button>
		<% end %>
		
	</div>

</section>