<!-- START Section - Reservations -->
<section id="hungry-reservations" class="section-container">

	<!-- START Section Heading -->
	<div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
		<header class="section-heading">
			<h2 class="section-heading-title">Reservations</h2>
			<div class="section-heading-subtitle-container tilt-left">
				<h4 class="section-heading-subtitle">Book Your Meal Today!</h4>
			</div>
		</header>
	</div>
	<!-- END Section Heading -->

	<div class="grid-container">
		<div class="prefix-10 grid-80 suffix-10 tablet-grid-100 mobile-grid-100">
		
			<!-- START Reservation Form -->
			<form id="hungry-reservation-form" action="php/process-reservation.php" method="post">
				<fieldset>
					
					<legend class="form-title">Booking Form<span>Please fill out all required<em>*</em> fields. Thanks!</span></legend>
					
					<div class="grid-50 tablet-grid-50 mobile-grid-100">
					
						<!-- Name Field -->
						<p>
							<label for="res_name">Name of your Party<span>*</span></label>
							<input type="text" name="res_name" id="res_name" value="" required>
						</p>
						
						<!-- Email Field -->
						<p>
							<label for="res_email">Your Email Address<span>*</span></label>
							<input type="email" name="res_email" id="res_email" value="" required>
						</p>
						
						<!-- Phone Number Field -->
						<p>
							<label for="res_phone">Your Contact Number<span>*</span></label>
							<input type="tel" name="res_phone" id="res_phone" value="" required>
						</p>
						
						<!-- Amount in Party Field -->
						<p>
							<label for="res_amount">How many people in your Party?<span>*</span></label>
							<select name="res_amount" id="res_amount" required>
								<option value="" selected>Please Choose...</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="More than 9">More than 9</option>
							</select>
						</p>
					</div>
					
					<div class="grid-50 tablet-grid-50 mobile-grid-100">
					
						<!-- Date Field -->
						<p>
							<label for="res_date">Date of Booking<span>*</span></label>
							<input type="date" name="res_date" id="res_date" value="" required>
						</p>
						
						<!-- Time Field -->
						<p>
							<label for="res_time">Time of Booking<span>*</span></label>
							<select name="res_time" id="res_time" required>
								<option value="" selected>Please Choose...</option>
								<optgroup label="Afternoon Reservations">
									<option value="12pm">12pm</option>
									<option value="12:30pm">12:30pm</option>
									<option value="1pm">1pm</option>
									<option value="1:30pm">1:30pm</option>
								</optgroup>
								<optgroup label="Evening Reservations">
									<option value="6pm">6pm</option>
									<option value="6:30pm">6:30pm</option>
									<option value="7pm">7pm</option>
									<option value="7:30pm">7:30pm</option>
									<option value="8pm">8pm</option>
									<option value="8:30pm">8:30pm</option>
									<option value="9pm">9pm</option>
								</optgroup>
							</select>
						</p>
						
						<!-- Message Field -->
						<label for="res_email">Optional Message</label>
						<textarea name="res_message" id="res_message" cols="8" rows="8"></textarea>
						
					</div>
			
					<div class="grid-100 tablet-grid-100 mobile-grid-100">
					
						<!-- Form Submit -->
						<input type="submit" name="res-submit" id="res-submit" value="Find me a Table!" />
					</div>
			
				</fieldset>
			</form>
			<!-- END Reservation Form -->
			
			<!-- Form outcome contents. Generated through Ajax -->
			<div id="hungry-reservation-form-outcome"></div>
		
		</div>
	</div>
	
</section>
<!-- END Section - Reservations -->