<section id="hungry-slogan-02" class="section-container parallax">
	<div class="grid-container">
	
		<div class="grid-100 tablet-grid-100 mobile-grid-100 no-margin">
			<div class="wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<div class="hungry-slogan">
					<h2 class="hungry-slogan-text"> Fast and Free delivery 
					<!-- <em>Clickable</em>	 -->
					<br />
						<span>
						<a href="tel:7242060807">Call us</a>
						 or 
						 <a href="#">Order Online!</a>
						<!-- <a href="tel:7242060807">724-206-0807</a> -->
						<!-- <em>Call-to-Action</em>! -->
					</span>
					</h2>
				</div>
			</div>
		</div>
		
	</div>
</section>