<section id="hungry-slogan-01" class="section-container parallax">
	<div class="grid-container">
	
		<div class="grid-100 tablet-grid-100 mobile-grid-100 no-margin">
			<div class="wow zoomIn" data-wow-duration="2s" data-wow-offset="250">
				<div class="hungry-slogan">
					<h2 class="hungry-slogan-text">
					Best pizza in washington county
					<!-- <br />
					Sometimes I even <em>add</em> it to the food! -->
					</h2>
				</div>
			</div>
		</div>
	
	</div>
</section>