<!-- START Section - Staff -->
<section id="hungry-staff" class="section-container">

	<!-- START Section Heading -->
	<div class="wow fadeInDown" data-wow-duration="2s" data-wow-offset="250">
		<header class="section-heading">
			<h2 class="section-heading-title">Our Staff</h2>
			<div class="section-heading-subtitle-container tilt-left">
				<h4 class="section-heading-subtitle">The Friendliest People</h4>
			</div>
		</header>
	</div>
	<!-- END Section Heading -->

	<div class="grid-container">

		<!-- START Staff Member -->
		<div class="grid-33 tablet-prefix-20 tablet-grid-60 tablet-suffix-20 mobile-grid-100">
			<div class="wow fadeInLeft" data-wow-duration="2s" data-wow-offset="250">
				<div class="hungry-staff-member">
					<header>
						<img src="/assets/demo/staff/staff-01.jpg" class="hungry-staff-member-thumbnail" alt="Staff Member Thumbnail" />
						<h3 class="hungry-staff-member-title">John Doggett</h3>
						<h4 class="hungry-staff-member-role">Head Chef</h4>
					</header>
					<div class="hungry-staff-member-content">
						<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
						Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
						Aenean commodo ligula.</p>
					</div>
					<footer>
						<ul class="hungry-staff-member-social-icons">
							<li><a href="#" class="team-tooltip" title="Like John!"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="team-tooltip" title="Tweet John!"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="team-tooltip" title="See John!"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</footer>
				</div>
			</div>
		</div>
		<!-- END Staff Member -->
		
		<!-- START Staff Member -->
		<div class="grid-33 tablet-prefix-20 tablet-grid-60 tablet-suffix-20 mobile-grid-100">
			<div class="wow fadeInUp" data-wow-duration="2s" data-wow-offset="250">
				<div class="hungry-staff-member">
					<header>
						<img src="/assets/demo/staff/staff-02.jpg" class="hungry-staff-member-thumbnail" alt="Staff Member Thumbnail" />
						<h3 class="hungry-staff-member-title">Jeffrey Spender</h3>
						<h4 class="hungry-staff-member-role">Head Barman</h4>
					</header>
					<div class="hungry-staff-member-content">
						<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
						Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
						Aenean commodo ligula.</p>
					</div>
					<footer>
						<ul class="hungry-staff-member-social-icons">
							<li><a href="#" class="team-tooltip" title="Like Jeffrey!"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="team-tooltip" title="Tweet Jeffrey!"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</footer>
				</div>
			</div>
		</div>
		<!-- END Staff Member -->
		
		<!-- START Staff Member -->
		<div class="grid-33 tablet-prefix-20 tablet-grid-60 tablet-suffix-20 mobile-grid-100 no-margin">
			<div class="wow fadeInRight" data-wow-duration="2s" data-wow-offset="250">
				<div class="hungry-staff-member">
					<header>
						<img src="/assets/demo/staff/staff-03.jpg" class="hungry-staff-member-thumbnail" alt="Staff Member Thumbnail" />
						<h3 class="hungry-staff-member-title">Monica Reyes</h3>
						<h4 class="hungry-staff-member-role">Waitress</h4>
					</header>
					<div class="hungry-staff-member-content">
						<p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
						Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
						Aenean commodo ligula.</p>
					</div>
					<footer>
						<ul class="hungry-staff-member-social-icons">
							<li><a href="#" class="team-tooltip" title="Tweet Monica!"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</footer>
				</div>
			</div>
		</div>
		<!-- END Staff Member -->

	</div>
</section>
<!-- END Section - Staff -->