<!-- START Main Content -->
<main class="site-content" role="main">
	<!-- White --> <%= render 'home/coupons' %>    
	<!-- Dard -->  <%= render 'home/slogan_two' %>
	<!-- White --> <%= render partial: 'home/menu', locals: {categories: @categories} %>
	<!-- Dard -->  <%= render 'home/slogan_one' %>
	<!-- Dard -->  <%#= render 'home/blog' %>
	<!-- White --> <%= render 'home/about_us' %>
	<!-- White --> <%#= render 'home/gallery' %>  
	<!-- Dard -->  <%#= render 'home/testimonials' %>
	<!-- White --> <%#= render 'home/staff' %>  
	<!-- White --> <%#= render 'home/reservations' %>
</main>
<!-- END Main Content -->
