<h1 class='center'>Categories</h1>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <ul class="nav navbar-right panel_toolbox">
        <%= link_to "Add Category", new_admin_category_path, class: 'btn btn-primary' %>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Popular(makes vision in main page)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <th scope="row"> <%= category.id %> </th>
              <td><%= category.title %></td>
              <td>
                <%= check_box_tag('category[:home_page]', '', checked = category.home_page, id: "category_popular_#{category.id}" )%>

                <script>
                     $("#category_popular_<%= category.id %>").change(function(){
                      var check_box_value = ( $("#category_popular_<%= category.id %>").is(':checked') ) ? true : false;
                       $.ajax({
                            url: '<%= admin_category_popular_path(category) %>',
                            type: 'PUT',
                            data: {category: check_box_value },
                            success: function(data, textStatus, jqXHR) {
                            var alert_status = (check_box_value) ? 'in popular list.' : 'Removed from popular list.';
                              alert("Category: <%= category.title %> " + alert_status);
                            }
                        });
                     })
                </script>
              </td>
              <td>
                  <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-default '%>
                  <%= link_to 'Destroy', admin_category_path(category), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>