<%= form_for ([:admin, product]), html:{class: 'form-horizontal form-label-left'}  do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="item form-group">
    <%= f.label :category_id, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Category Name: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.collection_select :category_id, Category.all, :id, :title, {prompt: "Choose a category"}, class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :title, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Title: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :title, class: 'form-control col-md-7 col-xs-12', placeholder: "Title", required: "required"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :desc, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Description: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_area :desc, class: 'form-control col-md-7 col-xs-12', required: "required" %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :price, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Price: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :price, class: 'form-control col-md-7 col-xs-12', required: "required" %>
    </div>
  </div>

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Cancel", admin_products_path, class: 'btn btn-primary' %>
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>