<h1 class='center'>Products</h1>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <ul class="nav navbar-right panel_toolbox">
        <%= link_to "Add Product", new_admin_product_path, class: 'btn btn-primary' %>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Category</th>
            <th>Title</th>
            <th>Description</th>
            <th>$Price</th>
            <th>Popular(makes vision in main page)</th>
            <th>Special(Special Tag for a product gives GOLD vision)</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <th scope="row"> <%= product.id %> </th>
              <td><%= product.category.title %></td>
              <td><%= product.title %></td>
              <td><%= truncate(product.desc, length: 200) %></td>
              <td>$<%= product.price %></td>
              <td><!-- Popular -->
                <%= check_box_tag('product[:home_page]', '', checked = product.home_page, id: "product_home_page_#{product.id}" )%>
                <script>
                     $("#product_home_page_<%= product.id %>").change(function(){
                      var check_box_value = ( $("#product_home_page_<%= product.id %>").is(':checked') ) ? true : false;
                       $.ajax({
                            url: '<%= admin_product_home_page_path(product) %>',
                            type: 'PUT',
                            data: {product: check_box_value },
                            success: function(data, textStatus, jqXHR) {
                            var alert_status = (check_box_value) ? 'in Home Page list.' : 'Removed from Home Page list.';
                              alert("Product: <%= product.title %> " + alert_status);
                            }
                        });
                     })
                </script>
              </td>
              <td><!-- Special Tag -->
                <%= check_box_tag('product[:special]', '', checked = product.special, id: "product_special_#{product.id}" )%>
                <script>
                     $("#product_special_<%= product.id %>").change(function(){
                      var check_box_value = ( $("#product_special_<%= product.id %>").is(':checked') ) ? true : false;
                       $.ajax({
                            url: '<%= admin_product_special_path(product) %>',
                            type: 'PUT',
                            data: {product: check_box_value },
                            success: function(data, textStatus, jqXHR) {
                            var alert_status = (check_box_value) ? 'in Special list.' : 'Removed from Special list.';
                              alert("Product: <%= product.title %> " + alert_status);
                            }
                        });
                     })
                </script>
              </td>
              <td>
                  <%= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-default'%>
                  <%= link_to 'Destroy', admin_product_path(product), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>