<div class="grid-20 tablet-grid-50 mobile-grid-50">
	<a href="index.html">
	</a>
	<%= link_to "#{root_path}#hungry-top" do%>
		<img class="site-logo" src="/assets/assets/logo.png" alt="Site Logo" />
	<% end %>
</div>
<!-- END Site Logo -->

<!-- START Navigation -->
<div class="nav-container grid-80 tablet-grid-50 mobile-grid-50">

	<!-- Mobile Nav Icon (Hamburger) -->
	<div class="mobile-nav">
		<i class="fa fa-bars"></i>
	</div>

	<nav class="main-navigation" role="navigation">
		
		<!-- Mobile Menu Header -->
		<div class="mobile-header hide-on-desktop">
			<h2>Navigation</h2>
			<div class="mobile-close">
				<i class="fa fa-times"></i>
			</div>
		</div>
	
		<!-- Main Navigation -->
		<ul class="sf-menu">
			<li><%= link_to 'Home', "#{root_path}#hungry-top" %></li>
			<li><%= link_to 'Coupons', "#{root_path}#hungry-coupons" %></li>
			<li><%= link_to "Our Menu", "#{root_path}#hungry-menu"%>
				<ul>
					<li><%= link_to "Our Menu", menu_path %></li>
					<!-- <li><a href="template-menu-one-column.html">Single Column Layout</a></li> -->
					<!-- <li><a href="template-menu-three-columns.html">Three Column Layout</a></li> -->
				</ul>
			</li>
			<li>
				<%#= link_to "Our Blog", "#{root_path}#hungry-blog" %>
				<ul>
					<li><a href="template-blog-overview.html">Overview Page</a></li>
					<li><a href="template-blog-single-right-sidebar.html">Single Entry Page</a>
						<ul>
							<li><a href="template-blog-single-left-sidebar.html">Left Sidebar</a></li>
							<li><a href="template-blog-single-right-sidebar.html">Right Sidebar</a></li>
							<li><a href="template-blog-single-full-width.html">Full Width</a></li>
							<li><a href="template-blog-single-narrow.html">Narrow</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><%= link_to "Contact Us", "#{root_path}#hungry-about-us" %></li>
			<li><%= link_to "Order Online", "#" %></li>
			<li><%= link_to "Catering", "#" %></li>

			<!-- <li><%#= link_to "The Gallery", "#{root_path}#hungry-gallery" %></li> -->
			<!-- <li><%#= link_to "Our Team", "#{root_path}#hungry-staff" %></li> -->
			<!-- <li><%#= link_to "Reservations", "#{root_path}#hungry-reservations" %></li> -->
		</ul>
		
	</nav>
</div>