<header id="single-page-header">
	<div class="site-navbar">
		<div class="grid-container">
			<%= render 'shared/navbar/nav_header' %>
		</div>
	</div>
	
	<div class="single-page-header-content">
		<!-- START Slider Images -->
		<div class="cycle-slideshow"
			 data-cycle-swipe="true"
			 data-cycle-swipe-fx="fade"
			 data-cycle-fx="fade"
			 data-cycle-speed="1200"
			 data-cycle-timeout="16000">
			
			<!-- Images -->
			<img src="/assets/demo/slides/pizzathreeguys_pastas.jpg" alt="Slide Image 02" />
			<img src="/assets/demo/slides/pizzathreeguys_pizza.jpg" alt="Slide Image 01" />
			<img src="/assets/demo/slides/pizzathreeguys_wings.jpg" alt="Slide Image 02" />
			<img src="/assets/demo/slides/pizzathreeguys_salad.jpg" alt="Slide Image 03" />
			
			<!-- Prev/Next Buttons -->
			<div class="cycle-prev"><i class="fa fa-chevron-left"></i></div>
			<div class="cycle-next"><i class="fa fa-chevron-right"></i></div>
			
		</div>
		<!-- END Slider Images -->
	
		<!-- START Slider Texts -->
		<div class="single-page-header-text">
		
			<!-- Pre-slogan -->
			<!-- <div class="tilt-left">
				<h3 class="header-text-pre-slogan">Order Now!<em>&hellip;</em></h3>
			</div> -->	
		
			<!-- Slogan Rotator -->
			<div class="tlt">
				<ul class="header-texts">
					<li>We Serve Pastas</li>
					<li>We do online order!</li>
					<li>Check Out Specials!</li>
					<li>We do catering!</li>
				</ul>
			</div>
			
			<!-- Divider -->
			<div class="header-text-divider"></div>
			
		</div>
		<!-- END Slider Texts -->
	</div>
	
	<!-- Pre-slogan -->
	<!-- START Social Icons -->
	<div class="single-page-social-icons">
	<div class="tilt-left">
		<a href="">
			<h3 class="header-text-pre-slogan">Click To Order Now!<em>&hellip;</em></h3>
		</a>
	</div>
	<!-- 	<ul class="single-page-social-icons-list">
			<li><a href="#" class="header-social-icon-tooltip" title="Follow us on Facebook!"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" class="header-social-icon-tooltip" title="Find us in Twitter!"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" class="header-social-icon-tooltip" title="Pin us on Pinterest!"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#" class="header-social-icon-tooltip" title="See us on Vimeo!"><i class="fa fa-vimeo-square"></i></a></li>
			<li><a href="#" class="header-social-icon-tooltip" title="We're on OpenTable!"><i class="fa fa-cutlery"></i></a></li>
		</ul> -->
	</div>
	<!-- END Social Icons -->
	
</header>