<header id="subpage-header" class="alt-header">
	<div class="site-navbar">
		<div class="grid-container">
			<%= render 'shared/navbar/nav_header' %>
		</div>
	</div>
	
	<!-- START Subpage Intro -->
	<div class="grid-container">
		<div class="page-meta grid-100 tablet-grid-100 mobile-grid-100">
		
			<div class="wow fadeInUp" data-wow-duration="2s" data-wow-offset="250">
			
				<!-- Page Title -->
				<h1 class="page-title">The Menu</h1>
			
				<!-- START Breadcrumb Trail -->
				<div class="breadcrumb-trail-container tilt-left">
					<div class="breadcrumb-trail">
						<span class="trail-start"> <%= link_to "Home", "#{root_path}#hungry-top" %> </span>
						<span class="trail-end">Current Menu</span>
					</div>
				</div>
				<!-- END Breadcrumb Trail -->
				
			</div>
			
		</div>
	</div>
	<!-- END Subpage Intro -->
</header>