<h1 class='center'>Coupons</h1>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <ul class="nav navbar-right panel_toolbox">
        <%= link_to "Add Coupon", new_admin_coupon_path, class: 'btn btn-primary' %>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>$Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @coupons.each do |c| %>
            <tr>
              <th scope="row"> <%= c.id %> </th>
              <td><%= c.title %></td>
              <td><%= truncate(c.desc, length: 200) %></td>
              <td>$<%= c.price %></td>
              <td>
                  <%= link_to 'Edit', edit_admin_coupon_path(c), class: 'btn btn-default '%>
                  <%= link_to 'Destroy', admin_coupon_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>