<div class="col-md-3 left_col">
  <div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Admin</span></a>
    </div>
    <div class="clearfix"></div>

    <!-- menu prile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <img src="<%= current_user.avatar_url || '/assets/images/img.jpg' %>" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2> <%= "#{current_user.first_name} #{current_user.last_name}" %> </h2>
      </div>
    </div>
    <!-- /menu prile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><%= link_to "Dashboard", admin_path %></li>
              <li><%= link_to "Products", admin_products_path %></li>
              <li><%= link_to "Categories", admin_categories_path %></li>
              <li><%= link_to "Coupons", admin_coupons_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <%= link_to edit_user_registration_path, title: "Settings", data: { toggle: 'tooltip', placement: 'top' } do %>
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      <% end %> 

      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>

      <%= link_to destroy_user_session_path, title: "Logout", data: { toggle: 'tooltip', placement: 'top' }, :method => :delete do %>
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      <% end %>

    </div>
    <!-- /menu footer buttons -->
  </div>
</div>