<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="<%= current_user.avatar_url || '/assets/images/img.jpg' %>" alt=""> <%= "#{current_user.first_name} #{current_user.last_name}"  %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li>
              <%= link_to edit_user_registration_path do %>
                <span>Settings</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                Log Out <i class="fa fa-sign-out pull-right"></i>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>