<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name=”robots” content=”noindex”>
  <meta name=”robots” content=”nofollow”>

  <title> Admin Panel </title>

  <!-- Bootstrap core CSS -->
  <!-- <%#= stylesheet_link_tag    'application-admin', media: 'admin', 'data-turbolinks-track' => true %> -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/animate.min.css" rel="stylesheet">
  <!-- Custom styling plus plugins -->
  <link href="/assets/css/custom.css" rel="stylesheet">
  <link href="/assets/css/icheck/flat/green.css" rel="stylesheet">
  <script src="/assets/js/jquery.min.js"></script>
  
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application-admin' %>

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<% if user_signed_in? %>
  <body class="nav-md">
      <div class="container body">
          <div class="main_container">

          	<%= render "admin/shared/sidenav" %>
          	<%= render "admin/shared/topnav" %>
              <div class="right_col" role="main">
                  <div class="">
                      <%= yield %>
                  </div>
              </div>
          	<%= render "admin/shared/footer" %>  

          </div>
      </div>
      
      <div id="custom_notifications" class="custom-notifications dsp_none">
          <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
          <div class="clearfix"></div>
          <div id="notif-group" class="tabbed_notifications"></div>
      </div>

      <script src="/assets/js/bootstrap.min.js"></script>
      <!-- bootstrap progress js -->
      <script src="/assets/js/progressbar/bootstrap-progressbar.min.js"></script>
      <!-- icheck -->
      <script src="/assets/js/icheck/icheck.min.js"></script>
      <!-- pace -->
      <script src="/assets/js/pace/pace.min.js"></script>
      <script src="/assets/js/custom.js"></script>

  </body>
<% else %>
  <body style="background:#F7F7F7;">
    <%= render 'admin/static/login' %>
  </body>
<% end %>

</html>