<!DOCTYPE html>
<html>
<head>
	<%= render 'shared/head_html'%>
</head>
  <body id="hungry-top" class="home">

	  <!-- START Site Preloader -->
	<div id="hungry-preloader-container">
		<div class="hungry-preloader">
			<span class="bubble-01"></span>
			<span class="bubble-02"></span>
			<span class="bubble-03"></span>
		</div>
	</div>
	<!-- END Site Preloader -->

	<% case controller_name
		when 'home' %>
  		<%= render 'shared/navbar/navbar' %>
  	<%  when 'menu'%>
  		<%= render 'shared/navbar/navbar_menu' %>
	<%  when 'blogs'%>
  		<%= render 'blogs/index' %>
  	<% end %>
    <%= yield %>
    <%= render 'shared/footer'%>
    <%#= render 'shared/footer_two'%>
    <%= render 'shared/under_footer'%>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-85999747-1', 'auto');
	  ga('send', 'pageview');

	</script>

  </body>
</html>

