<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Pizza Three Guys </title>
    <meta name='description' content='Best food, Pizza in Washington, Pa'>

    <!-- Bootstrap -->
    <link href="/assets/construction/bootstrap.css" rel="stylesheet">
	<link href="/assets/construction/bootstrap-theme.css" rel="stylesheet">
	<link href="/assets/construction/font-awesome.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="/assets/construction/style.css" rel="stylesheet">
  </head>
    <body>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/construction/bootstrap.min.js"></script>
    <script src="assets/construction/jquery.countdown.min.js"></script>
    <script type="text/javascript">
      $('#countdown').countdown('2017/02/02', function(event) {
        $(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85999747-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
