<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path, html: { method: :put, class: 'form-horizontal form-label-left' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="item form-group">
    <%= f.label :first_name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      First Name: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :first_name, class: 'form-control col-md-7 col-xs-12', placeholder: "First Name", required: "required"%>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :last_name, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Last Name: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :last_name, class: 'form-control col-md-7 col-xs-12', placeholder: "Last Name", required: "required"%>
    </div>
  </div>
 

  <div class="item form-group">
    <%= f.label :email, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Email: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.email_field :email, autofocus: true, class: 'form-control col-md-7 col-xs-12', placeholder: "Email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="item form-group">
    <%= f.label :password, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Password: <i>(leave blank if you don't want to change it)</i>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control col-md-7 col-xs-12'%>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :password_confirmation, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      password_confirmation: <i>(leave blank if you don't want to change it)</i>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :current_password, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Current Password: <span class="required">*</span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="item form-group">
    <%= f.label :Avatar, class: 'control-label col-md-3 col-sm-3 col-xs-12' do %>
      Avatar: <span class="required"></span>
    <% end %>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.file_field :avatar, class: 'form-control col-md-7 col-xs-12' %>
    </div>
  </div>

  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to "Cancel", admin_path, class: 'btn btn-primary' %>
      <%= f.submit "Update", class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", remove_registration_path, data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'%></p>

<%= link_to "Back", :back, class: 'btn btn-default' %>
